<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>You got a new book order</p>
    <p>
      Order details<br>
      --------------------------
    </p>
    <p>Room: <%= @book_order.hotel_room_id %></p>
    <p>Email: <%= @book_order.email %></p>
    <p>Phone: <%= @book_order.phone %></p>
    <p>
      Message:<br>
      ----------
    </p>
    <p><%= @book_order.arrival_date %></p>
  </body>
</html>