.about-hotel {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-areas:
    ". about-description ."
    ". hotel-gallery .";

  .about-description {
    grid-area: about-description;

    .description {
      text-align: justify;
    }
  }

  .hotel-gallery {
    grid-area: hotel-gallery;
    display: block;
    text-align: center;

    .gallery-table {
      .gallery-row {
        img {
          display: inline-block;
          margin: 10px 20px;
          object-fit: cover;
          height: 220px;
          width: 340px;
          cursor: pointer;
        }
      }
    }
  }
}
