.info-article {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    ". page-description ."
    ". special-offer-info .";

  .special-offer-info {
    grid-area: special-offer-info;
  }
}
