header {
  align-self: start;
  display: grid;
  align-items: center;
  grid-template-rows: 40px 70px;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  grid-template-areas:
    ". . phone ."
    ". navigation navigation .";
  text-transform: uppercase;
  font-size: 10pt;
  border-bottom: 1px #333 solid;

  @media screen and (max-width: 990px) {
    grid-template-rows: 70px;
    grid-template-areas:
      ". phone hamburger-menu .";
  }

  .hamburger-menu {
    grid-area: hamburger-menu;
    display: none;
    justify-self: right;
    z-index: 1;

    @media screen and (max-width: 990px) {
      display: block;
    }

    i {
      font-size: 18pt;
      cursor: pointer;
    }
  }

  .phone {
    grid-area: phone;
    justify-self: right;
    font-size: 11pt;
    display: grid;
    grid-template-columns: repeat(3, 30px) auto;
    grid-column-gap: 10px;
    align-items: center;

    @media screen and (max-width: 990px) {
      justify-self: left;
    }

    a {
      margin: 0;

      img {
        max-height: 30px;
        max-width: 30px;
      }
    }
  }

  /*ADMIN*/
  .admin-info {
    grid-area: phone;

    .logout {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  /*ADMIN*/

  nav {
    grid-area: navigation;
    justify-self: left;

    @media screen and (max-width: 990px) {
      display: none;
    }

    .menu {
      .menu-item {
        margin-left: 30px;
        position: relative;
        display: inline-block;

        a {
          text-decoration: none;
          color: #333;
          font-size: 12pt;
          font-weight: bold;

          &:hover {
            color: #0543ef;
          }
        }

        .dropdown-links {
          display: none;
          position: absolute;
          background-color: #efefef;
          z-index: 1;

          a {
            display: block;
            color: #696969;
            padding: 10px 15px;
            text-decoration: none;
            text-align: left;
            white-space: nowrap;

            &:hover {
              color: #0543ef;
              background-color: #e2e2e2;
            }
          }
        }

        &:hover {
          .dropdown-links {
            display: block;
          }
        }
      }
    }
  }
}
