header {
  align-self: start;
  display: grid;
  align-items: center;
  grid-template-rows: 40px 70px;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  grid-template-areas:
    ". . phone ."
    ". navigation . .";
  text-transform: uppercase;
  font-size: 10pt;
  border-bottom: 1px #333 solid;

  .logo {
    grid-area: logo;
    justify-self: center;

    img {
      max-width: 85px;
      max-height: 85px;
    }
  }

  .address {
    grid-area: address;
    justify-self: center;
    font-weight: bold;
  }

  .phone {
    grid-area: phone;
    justify-self: right;
    font-size: 11pt;
    display: grid;
    grid-template-columns: repeat(3, 30px) auto;
    grid-column-gap: 10px;
    align-items: center;

    a {
      margin: 0;

      img {
        max-height: 30px;
        max-width: 30px;
      }
    }
  }

  /*ADMIN*/
  .admin-info {
    grid-area: phone;

    .logout {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  /*ADMIN*/

  nav {
    grid-area: navigation;
    justify-self: left;

    .menu {
      .menu-item {
        margin-left: 30px;
        position: relative;
        display: inline-block;

        a {
          text-decoration: none;
          color: #333;
          font-size: 12pt;
          font-weight: bold;

          &:hover {
            color: #0543ef;
          }
        }

        .dropdown-links {
          display: none;
          position: absolute;
          background-color: #efefef;
          z-index: 1;

          a {
            display: block;
            color: #696969;
            padding: 10px 15px;
            text-decoration: none;
            text-align: left;
            white-space: nowrap;

            &:hover {
              color: #0543ef;
              background-color: #e2e2e2;
            }
          }
        }

        &:hover {
          .dropdown-links {
            display: block;
          }
        }
      }
    }
  }
}
