article {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-areas:
    "slider slider slider"
    ". short-info ."
    ". details ."
    "map map map";
  border-bottom: 5px #730e15 solid;

  .slider {
    grid-area: slider;
    background-size: cover;
    transition-property: background-image;
    transition-duration: 1s;
    min-height: 400px;
  }

  .short-about {
    grid-area: short-info;

    .description {
      text-align: justify;
    }
  }

  .details {
    grid-area: details;
    display: block;
    text-align: center;

    .detail {
      display: inline-block;
      width: 330px;
      margin: 0 10px 0 10px;
      text-align: justify;
      padding: 20px;
      background-color: #eef6ff;
      border-radius: 5px;

      img {
        object-fit: cover;
        height: 240px;
        width: 330px;
      }

      a {
        color: #696969;
        text-decoration: none;

        &:hover {
          color: #3e3e3e;
        }
      }
    }
  }

  .find-us-info {
    grid-area: map;

    .map {
      min-height: 400px;
    }
  }
}
