body {
  margin: 0;
  display: grid;
  align-self: stretch;
  justify-content: stretch;
  align-content: stretch;
  font-family: 'Open Sans', sans-serif;
  color: #303030;
  background-color: #f2fffc;

  h2 {
    text-align: center;
  }
}
