.reviews {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-areas:
    ". page-description page-description page-description ."
    ". . review-form . ."
    ". last-reviews last-reviews last-reviews .";

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
      ". page-description ."
      ". review-form ."
      ". last-reviews .";
  }

  .review-form {
    grid-area: review-form;
    width: 100%;
    margin: 20px auto;

    label {
      display: block;
    }

    input[type=text], input[type=email], textarea {
      display: block;
      padding: 10px 15px;
      border: 1px solid #cccccc;
      border-radius: 10px;
      font-size: 13pt;
      outline: none;
      width: 100%;
      margin: 10px 0 20px 0;

      &:valid {
        border-color: green;
      }
    }

    textarea {
      resize: vertical;
    }

    input[type=submit] {
      display: block;
      width: 250px;
      height: 40px;
      margin: 0 auto;
      background-image: linear-gradient(#00087f, #1b407f, #00087f);
      border: none;
      border-radius: 7px;
      color: #fff;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      font-size: 10pt;
    }
  }

  .last-reviews {
    grid-area: last-reviews;

    .reviews-list {
      text-align: center;

      .review {
        display: inline-block;
        text-align: justify;
        border-radius: 5px;
        padding: 0 20px;
        margin: 10px 0;
        width: 100%;
        background-color: #cbd3ff;

        .review-info {
          p {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 0;
            width: 50%;

            &:first-child {
              float: left;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
