.room {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "slider slider slider slider"
    ". page-description page-description ."
    ". room-short-info room-services ."
    ". book-button book-button ."
    ". book-form book-form .";

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
      "slider slider slider"
      ". page-description ."
      ". room-short-info ."
      ". room-services ."
      ". book-button ."
      ". book-form .";
  }

  .room-short-info {
    grid-area: room-short-info;
  }

  .room-services {
    grid-area: room-services;
  }

  .room-short-info,
  .room-services {
    .information,
    .services {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 11pt;

      p {
        margin: 10px 0;
        color: #696969;

        &.information-title {
          color: #0f0f0f;
        }
      }
    }
  }

  .book-button {
    grid-area: book-button;
    padding: 20px;

    .link-button {
      width: 250px;
      padding: 15px 0;
      font-size: 11pt;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
