.rooms-page {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    ". page-description ."
    ". rooms .";

  .rooms {
    grid-area: rooms;

    .room {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 40px;
      grid-template-areas:
        ". room-name"
        "room-image room-description"
        "room-image book-button";
      grid-column-gap: 3%;

      @media screen and (max-width: 768px) {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          "room-name"
          "room-image"
          "room-description"
          "book-button";
      }

      .room-image {
        grid-area: room-image;

        img {
          display: block;
          margin: 0 auto;
          width: 450px;
          height: 200px;

          @media screen and (max-width: 550px) {
            width: 100%;
          }
        }
      }

      .room-name {
        grid-area: room-name;
        display: block;
        margin: 0 auto;
        font-size: 17pt;
        color: #696969;
        text-decoration: none;

        &:hover {
          color: #3e3e3e;
          text-decoration: underline;
        }
      }

      .room-description {
        grid-area: room-description;
        text-align: justify;
      }
    }
  }
}
