.services {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-areas:
    ". short-description ."
    ". service-list .";

  .short-description {
    grid-area: short-description;
  }

  .service-list {
    grid-area: service-list;
    display: block;
    text-align: center;

    .service-list-row {
      .service-item {
        display: inline-block;
        margin: 20px;
        padding: 10px 30px;
        background-color: #eef6ff;
        border-radius: 5px;
        font-size: 18pt;

        .service-icon {
          width: 180px;
          height: 180px;
        }

        &:hover {
          background-color: #d4eaff;
        }
      }
    }
  }
}
